@if(!isFormulario){

<div class="carrousel">
    <div class="conteCarrousel">
        <div class="itemCarrousel" id="itemCarrousel-1">
            <img [src]="imagenHamburguesa" alt="Imagen de Hamburguesa" class="hamburguesa"/>
            <div class="itemCarrouselTarjeta"></div>
            <div class="itemCarrouselArrows">
                <a href="#itemCarrousel-3">
                    <i class="fas fa-chevron-left"></i>
                </a>
                <a href="#itemCarrousel-2">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
        <div class="itemCarrousel" id="itemCarrousel-2">
            <img [src]="imagenHamburguesa2" alt="Imagen de Hamburguesa 2" class="hamburguesa"/>
            <div class="itemCarrouselTarjeta"></div>
            <div class="itemCarrouselArrows">
                <a href="#itemCarrousel-1">
                    <i class="fas fa-chevron-left"></i>
                </a>
                <a href="#itemCarrousel-3">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
        <div class="itemCarrousel" id="itemCarrousel-3">
            <img [src]="imagenHamburguesa3" alt="Imagen de Hamburguesa " class="hamburguesa"/>
            <div class="itemCarrouselTarjeta"></div>
            <div class="itemCarrouselArrows">
                <a href="#itemCarrousel-2">
                    <i class="fas fa-chevron-left"></i>
                </a>
                <a href="#itemCarrousel-1">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="conteCarrouselController">
        <a href="#itemCarrousel-1">•</a>
        <a href="#itemCarrousel-2">•</a>
        <a href="#itemCarrousel-3">•</a>
    </div>
</div>

<div class="recomendaciones">
    <h3 id="tittle-h3">Lo mas vendido</h3>

    <div class="all-box">
        <div class="box">
            <mat-card appearance="outlined">
                <img mat-card-image [src]="hamOne" alt="Image description">
                <mat-card-content>Esta hamburguesa contiene doble cheese, con una carne jugosa y doble
                    y si eres una persona que le gusta el tomate esta seria una de las mejores opciones para elegir
                </mat-card-content>
            </mat-card>
        </div>
        <div class="box">
            <mat-card appearance="outlined">
                <img mat-card-image [src]="hamTwo" alt="Image description">
                <mat-card-content>Esta hamburguesa contiene doble cheese, con una carne jugosa y doble
                    y si eres una persona que le gusta el tomate esta seria una de las mejores opciones para elegir</mat-card-content>
            </mat-card>
        </div>
        <div class="box">
            <mat-card appearance="outlined">
                <img mat-card-image [src]="hamThree" alt="Image description">
                <mat-card-content>Esta hamburguesa contiene doble cheese, con una carne jugosa y doble
                    y si eres una persona que le gusta el tomate esta seria una de las mejores opciones para elegir</mat-card-content>
            </mat-card>
        </div>
        <div class="box">
            <mat-card appearance="outlined">
                <img mat-card-image [src]="hamFour" alt="Image description">
                <mat-card-content>Esta hamburguesa contiene doble cheese, con una carne jugosa y doble
                    y si eres una persona que le gusta el tomate esta seria una de las mejores opciones para elegir</mat-card-content>
            </mat-card>
        </div>

        <div class="box">
            <mat-card appearance="outlined">
                <img mat-card-image [src]="hamFour" alt="Image description">
                <mat-card-content>Esta hamburguesa contiene doble cheese, con una carne jugosa y doble
                    y si eres una persona que le gusta el tomate esta seria una de las mejores opciones para elegir</mat-card-content>
            </mat-card>
        </div>
        <div class="box">
            <mat-card appearance="outlined">
                <img mat-card-image [src]="hamThree" alt="Image description">
                <mat-card-content>Esta hamburguesa contiene doble cheese, con una carne jugosa y doble
                    y si eres una persona que le gusta el tomate esta seria una de las mejores opciones para elegir</mat-card-content>
            </mat-card>
        </div>
        <div class="box">
            <mat-card appearance="outlined">
                <img mat-card-image [src]="hamFive" alt="Image description">
                <mat-card-content>Esta hamburguesa contiene doble cheese, con una carne jugosa y doble
                    y si eres una persona que le gusta el tomate esta seria una de las mejores opciones para elegir</mat-card-content>
            </mat-card>
        </div>
        <div class="box">
            <mat-card appearance="outlined">
                <img mat-card-image [src]="hamFour" alt="Image description">
                <mat-card-content>Esta hamburguesa contiene doble cheese, con una carne jugosa y doble
                    y si eres una persona que le gusta el tomate esta seria una de las mejores opciones para elegir</mat-card-content>
            </mat-card>
        </div>

        <div class="box">
            <mat-card appearance="outlined">
                <img mat-card-image [src]="hamOne" alt="Image description">
                <mat-card-content>Esta hamburguesa contiene doble cheese, con una carne jugosa y doble
                    y si eres una persona que le gusta el tomate esta seria una de las mejores opciones para elegir
                </mat-card-content>
            </mat-card>
        </div>
        <div class="box">
            <mat-card appearance="outlined">
                <img mat-card-image [src]="hamTwo" alt="Image description">
                <mat-card-content>Esta hamburguesa contiene doble cheese, con una carne jugosa y doble
                    y si eres una persona que le gusta el tomate esta seria una de las mejores opciones para elegir</mat-card-content>
            </mat-card>
        </div>
        <div class="box">
            <mat-card appearance="outlined">
                <img mat-card-image [src]="hamThree" alt="Image description">
                <mat-card-content>Esta hamburguesa contiene doble cheese, con una carne jugosa y doble
                    y si eres una persona que le gusta el tomate esta seria una de las mejores opciones para elegir</mat-card-content>
            </mat-card>
        </div>
        <div class="box">
            <mat-card appearance="outlined">
                <img mat-card-image [src]="hamFour" alt="Image description">
                <mat-card-content>Esta hamburguesa contiene doble cheese, con una carne jugosa y doble
                    y si eres una persona que le gusta el tomate esta seria una de las mejores opciones para elegir</mat-card-content>
            </mat-card>
        </div>
    </div>

</div>

<div class="ingredients">
    <h2 id="ingredientsTittle">Ingredientes</h2>

    <div class="boxes">

        <div class="boxIn">
            <div class="imgLechuga">
                <img [src]="lechuga">
            </div>

            <div class="textPLechuga">
                <p>La lechuga es rica en nutrientes, asimismo nosotros cosechamos la lechuga para una mayor
                    higiene.
                </p>
            </div>
        </div>
        <div class="boxIn">
            <div class="imgOnion">
                <img [src]="cebolla">
            </div>
            <div class="textPLechuga">
                <p>La cebolla es rica en nutrientes, asimismo nosotros cosechamos la Cebolla para una mayor
                    higiene.
                </p>
            </div>
        </div>
        <div class="boxIn">
            <div class="imgOnion">
                <img [src]="meat">
            </div>
            <div class="textPLechuga">
                <p>La carne es rica en nutrientes, asimismo nosotros hacemos  la carne para una mayor
                    higiene.
                </p>
            </div>
        </div>
    </div>

</div>

<div class="opinionesAll">

    <h2 id="tittleOp">Opiniones</h2>

    <div class="allBoxOpinions">

        <div class="boxOpinions">
            <mat-card appearance="outlined">
                <mat-card-content> "¡Increíble hamburguesa, con un sabor excelente y fresco en cada bocado! El servicio es rápido y el ambiente muy acogedor. Recomiendo mucho este lugar."</mat-card-content>
            </mat-card>   
        </div>
        <div class="boxOpinions">
            <mat-card appearance="outlined">
                <mat-card-content>"Excelente calidad en las hamburguesas, con combinaciones únicas y sabrosas. El personal es muy atento y el entorno es ideal para comer con amigos."</mat-card-content>
            </mat-card> 
        </div>
        <div class="boxOpinions">
            <mat-card appearance="outlined">
                <mat-card-content> "Las hamburguesas aquí son deliciosas y hechas con ingredientes frescos. La atención al cliente es de primera y el ambiente es muy agradable para disfrutar."</mat-card-content>
            </mat-card> 
        </div>
        <div class="boxOpinions">
            <mat-card appearance="outlined">
                <mat-card-content> "Un lugar excepcional para disfrutar hamburguesas gourmet. La variedad en el menú es impresionante y el servicio siempre es amable y eficiente."</mat-card-content>
            </mat-card> 
        </div>

    </div>
</div>

}
<router-outlet></router-outlet>
